.map-view .map, 
.map-view .map div {
    min-width:100vw;
    min-height:calc( 100vh - 64px);
}

.fps-counter {
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    right:auto !important;
}