.level-list-container {
    overflow-y: hidden;
    max-height: 100%;
    height: 100%;
}

.level-list-container .content {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: hidden;
    box-sizing: border-box;
}

.level-list {
    overflow-y: auto;
}
