/** Colors.ts - keep colors in sync! */
:root {
    --neutral: #ccfbbf;
    --ares: #0e0ede;
    --thorgon: #11da10;
    --devoken: #de0e0e;
    --illurer: #0ecece;
    --albor: #ce6e0e;
    --urdoner: #5f3418;
    --alderaden: #8b2186;
    --golrathen: #666;

    --selected: #ffca28;
    --hovering: #ffeb3b;
}
