.control-hints {
    position: absolute;
    bottom: 64px;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 4px;

    width: 216ddawdpx;

    padding: 8px;

    z-index: 100;
    margin-left: 10px;
}

.control-hints .hotkeys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.control-hints .key-container {
    display: inline-flex;
    gap: 4px;
}

.control-hints .key {
    background-color: var(--hotkey-bg);
    font-family: monospace;
    padding: 2px 4px;
}
