.place-entity-container {
    padding: 8px 0; 
    overflow-x:auto;
}

.place-entity .owner-selection {
    padding: 8px;
}

.place-entity .entity{
    padding:8px;
}

.place-entity .entity.selected {
    background: var(--selected);
}

.owner-selection .owner-item{
    border: 2px transparent solid;
}

.owner-selection .owner-item.selected {
    border:2px white solid;
}