.selected-entity .title {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-bottom: 16px;
}

.selected-entity .title * {
    padding: 0;
    margin: 0;
}

.selected-entity .image {
    display: flex;
    justify-content: end;
}

.selected-entity .image img {
    border-radius: 16px;
}
