name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - run: corepack enable

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Check Code Quality
        run: npm run lint

      - name: Run Unit Tests
        run: npm run test-cli

  build-app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true

      - run: corepack enable

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Build App
        run: npm run build

      - name: Upload built files
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist
          retention-days: 7

  deploy:
    needs: [build-app, test-app]
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write

    env:
      TAG: ${{ github.event.ref }}

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist

      - name: Upload build artifact to pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: dist

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Zip dist directory
        run: |
          cd dist
          TAG_NO_PREFIX=$(echo "$TAG" | sed 's/refs\/tags\///')
          zip -r "invasion-edit-$TAG_NO_PREFIX.zip" .

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/invasion-edit-*.zip
